a{
    color: white;
}
.navBG{
    background-color: transparent;
}
.header-actions-action--cta{
    transition:all .5s!important;
  }
.header-actions-action--cta:hover *{
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    margin-top:-2px;
    opacity:1!important;
    transition:all .5s!important;
  }
  .dropdown {
    position: relative;
    display: inline-block;
}

/* Style the button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}
@keyframes chevron_rotateUp{
    25% {rotate: 45deg;}
    50% {rotate: 90deg;}
    75% {rotate: 135deg;}
    100% {rotate: 180deg;}
    
}
@keyframes chevron_rotateDown {
    25% {rotate: 135deg;}
    50% {rotate: 90deg;}
    75% {rotate: 45deg;}
    100% {rotate: 0deg;}
    
}
/* The container for dropdown items (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content.show {
    display: block;
  }
/* Dropdown links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown content on hover */

/* Change the background color of the button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #2980b9;
}
.chevron-icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.chevron-animation{
    animation-name: chevron_rotateUp;
    animation-duration: 0.2s;
    animation-fill-mode:forwards;
}.chevron-ReverseAnimation{
    animation-name: chevron_rotateDown;
    animation-duration: 0.2s;
    animation-fill-mode:forwards;
}