<footer class="container-fluid" style="background-color: #234445;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-s-12 col-md-4">
        <div class="card-footer mt-20">
          <div class="card-header">
            <h5>لینک های سایت</h5>
          </div>
          <div class="card-body">
            <ul class="mt-20">
              <li><a href="">خانه</a></li>
              <li><a href="">صفحه اصلی</a></li>
              <li><a href="">تماس با ما</a></li>
              <li><a href="">درباره ما</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-s-12 col-md-4">
        <div class="card-footer mt-20">
          <div class="card-header">
            <h5>لینک های سایت</h5>
          </div>
          <div class="card-body">
            <ul class="mt-20">
              <li><a href="">خانه</a></li>
              <li><a href="">صفحه اصلی</a></li>
              <li><a href="">تماس با ما</a></li>
              <li><a href="">درباره ما</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-s-12 col-md-4">
        <div class="card-footer mt-20">
          <div class="card-header">
            <h5>لینک های سایت</h5>
          </div>
          <div class="card-body">
            <ul class="mt-20">
              <li><a href="">خانه</a></li>
              <li><a href="">صفحه اصلی</a></li>
              <li><a href="">تماس با ما</a></li>
              <li><a href="">درباره ما</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
