<div class="d-flex justify-content-center align-items-center" style="height: 100vh">
  <div #container class="container" id="container">
    <!-- فرم ثبت نام -->
    <div class="form-container sign-up-container">
      <form action="" [formGroup]="UserForm" (submit)="SignUp()">

        <input type="text" id="floatingInput" class="form-control" [formControl]="UserForm.controls.fullName"
          placeholder="نام کاربری" />
        <div *ngIf="UserForm.controls.fullName.touched && UserForm.controls.fullName.touched">
          <small
            *ngIf="UserForm.controls.fullName.errors?.['minlength'] && !UserForm.controls.fullName.errors?.['pattern']"
            class="incorrecterror userNameError" [hidden]="">
            نام کاربری باید حداقل 3 و حداکثر 15 کاراکتر باشد
          </small>
          <small *ngIf="UserForm.controls.fullName.errors?.['required']" class="incorrecterror userNameError">
            نام کاربری اجباری است!
          </small>
          <small *ngIf="UserForm.controls.fullName.errors?.['pattern']" class="incorrecterror userNameError">
            فقط از حروف استفاده شود
          </small>
        </div>

        <input #userEmail [formControl]="UserForm.controls.email" type="email" placeholder="ایمیل ..." class="email"
          name="email" [email]="true" />
        <div *ngIf="UserForm.controls.email.invalid && UserForm.controls.email.touched">
          <small *ngIf="UserForm.controls.email.errors?.['required']" class="incorrecterror userNameError" [hidden]="">
            ایمیل اجباری است و نمیتوان آن را خالی گذاشت
          </small>
          <small *ngIf="UserForm.controls.email.errors?.['pattern']" class="incorrecterror userNameError">
            فرمت ایمیل اشتباه است
          </small>
        </div>

        <input #password [formControl]="UserForm.controls.password" type="password" placeholder="کلمه عبور ..."
          class="pass" />
        <div *ngIf="UserForm.controls.password.invalid && UserForm.controls.password.touched">
          <small *ngIf="UserForm.controls.password.errors?.['pattern']" class="incorrecterror userNameError"
            [hidden]="">
            کلمه عبور باید ترکیبی از حروف بزرگ و کوچک و عدد باشد
          </small>
          <small *ngIf="UserForm.controls.password.errors?.['required']" class="incorrecterror userNameError">
            پسورد را وارد کنید
          </small>
        </div>
        <input #userPhone [formControl]="UserForm.controls.phone" type="text" class="birthday"
          placeholder="شماره تلفن" />
        <div *ngIf="UserForm.controls.phone.invalid && UserForm.controls.phone.touched">
          <small *ngIf="UserForm.controls.phone.errors?.['pattern']" class="incorrecterror userNameError" [hidden]="">
            شماره فقط باید عدد باشد
          </small>
          <small *ngIf="UserForm.controls.phone.errors?.['required']" class="incorrecterror userNameError">
            شماره تلفن را وارد کنید
          </small>
        </div>
        <input #userCodeMeli [formControl]="UserForm.controls.codeMeli" type="text" class="codeMeli"
          placeholder="کد ملی ..." />
        <div *ngIf="UserForm.controls.codeMeli.invalid && UserForm.controls.codeMeli.touched">
          <small *ngIf="UserForm.controls.codeMeli.invalid" class="incorrecterror userNameError" [hidden]="">
            کد ملی باید دقیقا 10 کاراکتر باشد
          </small>
        </div>
        <button type="submit" class="btn-reg submitBtn mb-2">
          عضویت
        </button>
      </form>
    </div>
    <!-- فرم ثبت نام -->
    <!-- فرم ورود -->
    <div class="form-container sign-in-container">
      <form action="" (submit)="Login()" [formGroup]="LoginForm">
        <input type="email" class="loginEmail" placeholder="...کد ملی" formControlName="codeMeli" />
        <div *ngIf="LoginForm.controls.codeMeli.invalid && LoginForm.controls.codeMeli.touched">
          <small *ngIf="LoginForm.controls.codeMeli.errors?.['required']" class="incorrecterror userNameError">
            کدملی را وارد کنید
          </small>
        </div>
        <input #loginPassword type="password" class="loginPass" placeholder="کلمه عبور ..."
          formControlName="password" />
        <div *ngIf="LoginForm.controls.password.invalid && LoginForm.controls.password.touched">
          <small *ngIf="LoginForm.controls.codeMeli.errors?.['required']" class="incorrecterror userNameError">
           کلمه عبور اشتباه است
          </small>
        </div>
        <button type="submit" class="btn-login loginBtn mt-3">
          ورود
        </button>
      </form>
    </div>
    <!-- فرم ورود -->
    <!-- بخش جا به جایی لایه ها -->
    <div class="div overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>خوش امدید</h1>
          <p>برای دسترسی به تمام امکانات سایت ابتدا در سایت لاگین نمایید</p>
          <button (click)="overlayLeft(container)" class="ghost" id="signIn">
            ورود
          </button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>خوش امدید</h1>
          <p>اگر عضو سایت نیستید در کمتر از 1 دقیقه عضو سایت شوید</p>
          <button (click)="overlayRight(container)" class="ghost" id="signUp">
            عضویت
          </button>
        </div>
      </div>
    </div>
    <!-- بخش جا به جایی لایه ها -->
  </div>
</div>