<app-header></app-header>
<div class="container mt-5">
  <div class="row g-4">
    <div class="col-12 col-md-6">
      <div>
        <a
          class="card-door-show d-flex justify-content-center align-items-center"
          href="/DoorInfo"
          >در شماره یک</a
        >
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div>
        <a
          class="card-door-show d-flex justify-content-center align-items-center"
          href="/DoorInfo"
          >در شماره دو</a
        >
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div>
        <a
          class="card-door-show d-flex justify-content-center align-items-center"
          href="/DoorInfo"
          >در شماره سه</a
        >
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div>
        <a
          class="card-door-show d-flex justify-content-center align-items-center"
          href="/DoorInfo"
          >در شماره چهار</a
        >
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
