.card-door-show {
  height: 60px;
  background-color: #234445;
  border-radius: 5px;
  display: block;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}
.card-door-show:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
}
a {
  color: white;
}
